
.DS_Store
uclid/.DS_Store
uclid/src/.DS_Store
uclid/src/tricore/.DS_Store
uclid/test/.DS_Store
uclid/test/inorder/.DS_Store
uclid/test/patmos/.DS_Store
uclid/test/sic/.DS_Store
uclid/test/tricore/.DS_Store
